# Quarto cache e arquivos temporários
.quarto/
*.Rproj.user
.Rhistory
.RData
.Ruserdata

# Arquivos do sistema Mac
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/

# R
.Rproj.user/
*.Rproj


# IMPORTANTE: NÃO ignorar a pasta docs/ 
# pois é ela que o GitHub Pages usa!
# !docs/